<!DOCTYPE>

<meta charset="utf-8">
<link href="styles/style.css" rel="stylesheet" type="text/css">
<strong class="fuck1" class="loading">5</strong>
<strong class="fuck2" class="loading">0</strong>
<strong class="fuck3" class="loading">0</strong>
<strong class="fuck4" class="loading">,</strong>
<strong class="fuck5" class="loading">服</strong>
<strong class="fuck6" class="loading">务</strong>
<strong class="fuck" class="loading">器</strong>
<strong class="fuck1" class="loading">异</strong>
<strong class="fuck2" class="loading">常</strong>

<br>
<br>
<strong class="fuck" class="loading">出</strong>
<strong class="fuck6" class="loading">错</strong>
<strong class="fuck5" class="loading">啦</strong>
<strong class="fuck4" class="loading">，</strong>
<strong class="fuck3" class="loading">哈</strong>
<strong class="fuck2" class="loading">哈</strong>
<strong class="fuck1" class="loading">哈</strong>
<h2>500 服务器异常</h2>
服务器出错了。。。
