<span>Login</span>

<div>
	<span>User:{{currentUser.name}}</span>
	<br/>
	<span>Position:{{currentUser.position}}</span>
	<br/>
	<span>Department id:{{currentUser.department_id}}</span>
</div>

<br/>
<form name="login_" ng-submit="login()" class="form-horizontal">
	<div>
		<span>
			<label for="userid">ID:</label>
			<input ng-model="currentUser.id" class="input-xlarge" id="userid" focus required />
		</span>
	</div>
	<br/>
	<div>
		<span>
			<label for="userpwd">Password:</label>
			<input ng-model="currentUser.pwd" type="password" class="input-xlarge" id="userpwd"/>
		</span>
	</div>
	<br/>
	<br/>
	<button >Change User</button>

</form>


