<h2><span>ID:&nbsp;</span>{{application.application_id}}</h2>
<div><span>Applicant:&nbsp;</span>{{application.applicant.user_name}} <br/>({{application.applicant_id}})</div>
<div><span>Department:&nbsp;{{application.applicant.department_name}}</span></div>
<div><span>Position:&nbsp;{{application.applicant.staff_position}}</span></div>
<div><span>Submit time&nbsp;{{application.apply_date}}</span></div>
<div>
	<h3>Leave Infomation</h3>
	<div><span>Type:&nbsp;{{application.leave_type}}</span></div>
	<div><span>Reason:&nbsp;{{application.leave_reason}}</span></div>
	<div><span>From:&nbsp;{{application.leave_date}}</span></div>
	<div><span>Length:&nbsp;{{application.leave_length}}</span></div>
<div>

<div>Approval status:&nbsp;{{application.status}}<br/>
	<h3>Approval list:</h3>
	<li ng-repeat="approval in application.approvals"><div>
			<Strong>ID:{{approval.approval_id}}</Strong><br/>
			Auditor:{{approval.auditor_id}}</br>
			Opinion:{{approval.approve_opinion}}<br/>
			Approve time:{{approval.approve_date}}
		<div>
	</li>
</div>
<form  class="form-horizontal">
  <div class="form-actions">
    <button class="btn btn-primary" ng-click="edit()">Edit</button>
	<button class="btn btn-primary" ng-click="approve()" ng-show="needApprove">Approve</button> 
  </div>
</form>
